.footer {
    font-family: 'Montserrat';
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #c7c5c5;
}

.footer-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-list li a {
    display: inline-block;
    margin-right: 20px;
    color: #817f7f;
    text-decoration: none;
}

.footer-list li a:hover {
    border-bottom: none;
    color: #000;
}
