* {
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px; /*o cualquier otro valor que desees*/
    margin: 0 auto;
}

.features-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 30px 0;
}

.image-wrapper,
.table-wrapper {
    width: 65%;
}

.player-image {
    width: 80%;
    height: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td:nth-child(2) {
    text-align: center;
}

th,
td {
    padding: 8px;
}

th {
    border-bottom: 2px solid #ddd;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

td {
    border-bottom: 1px solid #ddd;
}

div table tr th .table-principal-text {
    color: red;
}
