<div class="container">
    <div class="features-wrapper">
        <div class="image-wrapper">
            <img
                src="{{ player.imagen2 + '.jpeg' }}"
                alt="{{ player.nombre }}"
                class="player-image"
                style="width: 70%"
            />
        </div>
        <div class="table-wrapper">
            <table>
                <tr class="table-principal-text">
                    <th>CARACTERISTICAS GENERALES</th>
                </tr>
                <tr>
                    <td>filigranas</td>
                </tr>
                <tr>
                    <td>pierna mala</td>
                </tr>
                <tr>
                    <td>rendimiento ATQ</td>
                </tr>
                <tr>
                    <td>rendimiento DEF</td>
                </tr>
                <tr>
                    <td>pierna buena</td>
                </tr>
                <tr>
                    <th>&nbsp;</th>
                </tr>
                <tr>
                    <th class="table-principal-text">
                        CARACTERISTICAS ESPECIFICAS
                    </th>
                </tr>
                <tr>
                    <td>acceleracion</td>
                </tr>
                <tr>
                    <td>velocidad</td>
                </tr>
                <tr>
                    <td>posicion</td>
                </tr>
                <tr>
                    <td>finalizacion</td>
                </tr>
                <tr>
                    <td>potencia</td>
                </tr>
            </table>
        </div>
    </div>
</div>
