<div class="container">
    <div class="features-wrapper">
        <div class="image-wrapper">
            <a routerLink=":id/video-page" class="card-link">
                <img
                    src="{{ player.imagen2 + '.jpeg' }}"
                    alt="{{ player.nombre }}"
                    class="player-image"
                    style="width: 80%"
                />
            </a>
        </div>
        <div class="table-wrapper">
            <table>
                <tr>
                    <th class="table-principal-text">
                        CARACTERISTICAS GENERALES
                    </th>
                </tr>
                <tr>
                    <td>Pierna buena</td>
                    <p>{{ player.caracteristicasGenerales.piernaBuena }}</p>
                </tr>
                <tr>
                    <td>Rendimiento ATQ</td>
                    <p>{{ player.caracteristicasGenerales.rendimientoAtq }}</p>
                </tr>
                <tr>
                    <td>Rendimiento DEF</td>
                    <p>{{ player.caracteristicasGenerales.rendimientoDef }}</p>
                </tr>
                <tr>
                    <td>Filigranas</td>
                    <p>{{ player.caracteristicasGenerales.filigranas }}</p>
                </tr>
                <tr>
                    <td>Pierna Mala</td>
                    <p>{{ player.caracteristicasGenerales.piernaMala }}</p>
                </tr>

                <tr>
                    <th>&nbsp;</th>
                </tr>
                <tr>
                    <th class="table-principal-text">
                        CARACTERISTICAS ESPECIFICAS
                    </th>
                </tr>
                <tr>
                    <td>Acceleracion</td>
                    <p>{{ player.caracteristicasEspecificas.aceleracion }}</p>
                </tr>
                <tr>
                    <td>Velocidad</td>
                    <p>{{ player.caracteristicasEspecificas.velocidad }}</p>
                </tr>
                <tr>
                    <td>Posicion</td>
                    <p>{{ player.caracteristicasEspecificas.posicion }}</p>
                </tr>
                <tr>
                    <td>Finalizacion</td>
                    <p>{{ player.caracteristicasEspecificas.finalizacion }}</p>
                </tr>
                <tr>
                    <td>Potencia</td>
                    <p>
                        {{ player.caracteristicasEspecificas.potenciaDeTiro }}
                    </p>
                </tr>
            </table>
        </div>
    </div>
</div>
