<h2>Mejores videos</h2>
<div class="image-wrapper">
    <a routerLink=":id/career-page" routerLinkActive="active">
        Ir a trayectoria profesional
    </a>
</div>
<br />
<div #demoYouTubePlayer class="demo-youtube-player">
    <div>
        <section *ngFor="let player of players">
            <youtube-player
                videoId="{{ player.videos }}"
                suggestedQuality="highres"
                [height]="250"
                [width]="500"
                [startSeconds]="4"
                [endSeconds]="8"
            >
            </youtube-player>
        </section>
    </div>
</div>
