<div class="table-wrapper">
    <h2>Trayectoria Profesional</h2>
    <table>
        <tr>
            <th class="table-principal-text">TEMPORADA</th>
        </tr>
        <tr>
            <td>2022/2023</td>
            <p>{{ player.caracteristicasGenerales.piernaBuena }}</p>
        </tr>
        <tr>
            <th class="table-principal-text">CLUB ANTERIOR</th>
        </tr>
        <tr>
            <td>MONACO</td>
            <p>{{ player.caracteristicasGenerales.piernaBuena }}</p>
        </tr>
        <tr>
            <th class="table-principal-text">CLUB ACTUAL</th>
        </tr>
        <tr>
            <td>PARIS ST GERMAIN</td>
            <p>{{ player.caracteristicasGenerales.piernaBuena }}</p>
        </tr>
        <tr>
            <th class="table-principal-text">PRECIO TRASPASO</th>
        </tr>
        <tr>
            <td>120,00 millones</td>
            <p>{{ player.caracteristicasGenerales.piernaBuena }}</p>
        </tr>
    </table>
</div>
