.navigation {
    font-family: 'Montserrat';
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #c7c5c5;
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-list li a {
    display: inline-block;
    margin-right: 20px;
    color: #817f7f;
    text-decoration: none;
}

.nav-list li a:hover {
    border-bottom: none;
    color: #000;
}

.nav-button button {
    margin-left: auto;
    font-size: 1.2rem;
    border-radius: 12px;
    background-color: #817f7f;
    color: white;
    padding: 10px 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.nav-button button:hover {
    background-color: black;
    color: white;
}
